<p>
  <% categories = %w(news programming education sports humor) %>
  <% categories.each do |category| %>
    <% if eval("post.#{category}") %>
      <span class="badge">
        <%= link_to category.capitalize, "/categories/#{category}" %>
      </span>
    <% end %>
  <% end %>
</p>
