<div id="main">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="lead">
          <% if defined?(category) %>
            <%= link_to "All Posts", posts_path %>
            <%= ">> #{category}" %>
          <% else %>
            <%= "All Posts" %>
          <% end %>
        </p>
        <hr></hr>

        <p></p>
        <% @posts.each do |p| %>
          <%= render 'shared/post', post: p %>
        <% end %>
      </div>
    </div>
  </div>
</div>
