<div class="row">

  <div class="span8 well">
    <em>"<%= comment.body %>"</em>
    <br><br/>
    <span class="quiet">by</span>
    <% username = comment.user_id.username %>
    <%= link_to username, user_path(username) %>
    <small><%= "at #{comment.created_at}" %></small>
  </div>
</div>
