<div class="span0 well text-center">
  <%= link_to("#{vote_post_path(post.slug)}?vote=true", rel: "nofollow", remote: true, method: :post) do %>
    <span class="glyphicon glyphicon-arrow-up"></span>
  <% end %>
  </br>
  <span><%= "#{post.vote_count} votes" %></span>
  </br>
  <%= link_to("#{vote_post_path(post.slug)}?vote=false", rel: "nofollow", remote: true, method: :post) do %>
    <span class="glyphicon glyphicon-arrow-down"></span>
  <% end %>
</div>
