<div class="span0 well text-center">
  <a rel="nofollow" href="/posts/tealeaf-academy/vote?vote=true" data-remote="true" data-method="post">
    <span class="glyphicon glyphicon-arrow-up"></span>
  </a>
  </br>
  <span><%= "votes" %></span>
  </br>
  <a rel="nofollow" href="/posts/tealeaf-academy/vote?vote=false" data-remote="true" data-method="post">
    <span class="glyphicon glyphicon-arrow-down"></span>
  </a>
</div>
