<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert"></button>
  <h3>Welcome!</h3>
  "This is the application we build during the 2nd course for "
  <%= link_to "Tealeaf Academy", "http://www.gotealeaf.com" %>
  ". This is a Reddit-like application, with all features built from scratch
  without relying on any external libraries or gems."
</div>
