<div id="main">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="lead">All Posts</p>
        <hr></hr>
        <p></p>
        <% @posts.each do |post| %>
          <%= render partial: 'shared/post', locals: {post: post} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
