@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
  width: 71px;
  height: 40px;
  font-size: large;
  float: left;
}

.nav_item {
  float: left;
}

.span0 {
  width: 94px;
  height: 100px;
  float: left;
}
